 <!-- services section start -->
 <section class="services" id="services">
    <div class="max-width">
        <h2 class="title">Our Team</h2>
        <div class="serv-content">
            <div class="card">
                <div class="box">
                    <i class="fas fa-pen" aria-hidden="true"></i>
                    <div class="text">Kavisha Kumarage</div>
                    <p>Title : Project Lead</p>
                    <p>Phone number: +94 71903671</p>
                    <p>Email Address: kavisha.20212061@iit.ac.lk</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="text">Avishka Pramuditha</div>
                    <p>Title : Software Architect</p>
                    <p>Phone number: +94 761727663</p>
                    <p>Email Address: avishka.20212079@iit.ac.lk</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="text">Dominic Wirasinha</div>
                    <p>Title : UI/UX Designer</p>
                    <p>Phone number: +94 760600415</p>
                    <p>Email Address: lathika.20212048@iit.ac.lk</p>
                </div>
            </div>
        </div>
        <div class="serv-content2">
            <div class="card">
                <div class="box">
                    <div class="text">Direndra Kavindu</div>
                    <p>Title : Software Engineer</p>
                    <p>Phone number: +94 767027795</p>
                    <p>Email Address: direndra.20212062@iit.ac.lk</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="text">Lanindu Lakruwan</div>
                    <p>Title : Testing Engineer</p>
                    <p>Phone number: +94 719545460</p>
                    <p>Email Address: lanindu.20212034@iit.ac.lk</p>
                </div>
            </div>

        </div>
    </div>
</section>
