<body data-new-gr-c-s-check-loaded="14.1078.0" data-gr-ext-installed="">
    <!-- services section start -->
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">About Us</h2>
            <div class="serv-content">
                <div class="card">
                    <div class="box">
                        <div class="text">Who Are We?</div>
                        <p>Since our first day, at HCL we have had one point of view about the universe of our business. This point of view inspires what we stand for and what we do.</p>
                        <p>We were born from the conviction that the tangible actions and daily interactions drive real improvements to people’s lives, to communities and the planet. For this reason, our purpose is to create a better everyday for everyone to build a better life for all. </p>
                        <ul>
                            <li>What we do: We improve the Quality of Life of those we serve and our teams, and contribute to the economic, social and environmental development of the communities, regions and countries in which we operate.</li>
                            <li>How we do it: We serve with care the essential daily needs of millions of people. We build inclusive progress; we drive engaged and responsible performance.</li>
                            <li>Why we do it: We create a better everyday for everyone to build a better life for all.</li>
                        </ul>    
                    </div>
                </div>            
            </div>   
        </div>
    </section>
    <script src="script.js"></script>
    <style type="text/css" data-typed-js-css="true">
</style></body>