.card-header{
  padding-left: 41%;
  align-items: center;
  margin-bottom: 0;
  max-width: 100%;
  background-color: rgba(255, 225, 225, 0.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
  border: 0px;
}

.card-body{
  align-items: center;
  background-color: rgb(81, 128, 167);
  max-width: 100%;
  border-radius: 10px;
}
.card{
  /* align-items: center; */
  /* background-color: rgb(102, 155, 195); */
  background-image: url('src/assets/Images/background2.webp');
  padding-left: 300px;
  padding-right: 300px;
}
.col-sm-12{
  flex: 0 0 100%;
  max-width: 100%;
  background-color: rgb(35, 95, 105);
  align-items: center;
}
.submit-button{
  padding-left: 41%;
  border: 100px;

}
.btn-primary{
  cursor: pointer;
  border-radius: 8px;
  padding: 5px;
  border-color: rgba(17, 0, 255, 0.584);
  background-color: rgb(0, 109, 205);

}
